In [27]:
!pip install textblob

Collecting textblob
  Downloading textblob-0.17.1-py2.py3-none-any.whl (636 kB)
Requirement already satisfied: nltk>=3.1 in c:\users\shreya\anaconda3\lib\site-packages (from textblob) (3.6.5)
Requirement already satisfied: click in c:\users\shreya\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (8.0.3)
Requirement already satisfied: joblib in c:\users\shreya\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\shreya\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2021.8.3)
Requirement already satisfied: tqdm in c:\users\shreya\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.62.3)
Requirement already satisfied: colorama in c:\users\shreya\anaconda3\lib\site-packages (from click->nltk>=3.1->textblob) (0.4.4)
Installing collected packages: textblob
Successfully installed textblob-0.17.1

In [37]:
import pandas as pd
import numpy as np
from textblob import TextBlob

In [52]:
data=pd.read_csv(r'C:\Users\SHREYA\Downloads\Title_sentiment2.csv')

In [53]:
data.head()

           original_title Sentiment
0  The Fault in Our Stars  positive
1               Divergent  positive
2               The Giver  positive
3               Insurgent  positive
4             Paper Towns  positive

In [57]:
data.dtypes

original_title    object
Sentiment         object
dtype: object

In [61]:
data = data.astype(str)

In [60]:
data.dtypes

original_title    object
Sentiment         object
dtype: object

In [65]:
data['TextBlob_Subjectivity']=data['original_title'].apply(lambda x:TextBlob(x).sentiment.subjectivity)
data['TextBlob_Polarity']=data['original_title'].apply(lambda x:TextBlob(x).sentiment.polarity)

In [67]:
data['TextBlob_Analysis']=data['TextBlob_Polarity'].apply(lambda x:'negative' if x<0 else 'positive')

In [71]:
data.head()

,original_title,Sentiment,Text_Subjectivity,Text_Polarity,TextBlob_Subjectivity,TextBlob_Polarity,TextBlob_Analysis
0,The Fault in Our Stars,positive,0.0,0.0,0.0,0.0,positive
1,Divergent,positive,0.0,0.0,0.0,0.0,positive
2,The Giver,positive,0.0,0.0,0.0,0.0,positive
3,Insurgent,positive,0.0,0.0,0.0,0.0,positive
4,Paper Towns,positive,0.0,0.0,0.0,0.0,positive

In [74]:
data['TextBlob_Analysis'].value_counts()

positive    547
negative     52
Name: TextBlob_Analysis, dtype: int64